@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
@import "notivue/notifications.css";
@import "notivue/animations.css";
@layer base {
  .router_btn {
    @apply flex items-center gap-2 text-heading4 bg-primary1 rounded-full w-[220px] justify-center py-4 font-semibold hover:bg-primary1/85 duration-300 active:bg-primary2 text-white rounded-r-none shadow-md hover:shadow-lg;
  }
  .btnActtion {
    @apply text-heading4 font-semibold px-[24px] py-[12px] bg-primary1 rounded-2xl hover:bg-primary2 duration-300 active:bg-primary1/90 text-white;
  }
  .confirmBtn {
    @apply px-[12px] py-[4px] bg-none border-2 border-primary1 rounded-2xl active:bg-primary1 hover:bg-primary2 duration-300 text-primary1 hover:text-white active:text-white;
  }
  input {
    @apply w-[400px] px-[24px] border-primary1 border-2 rounded-2xl py-[12px] bg-transparent outline-none placeholder:text-heading4 text-primary2 placeholder:font-semibold;
  }
}

body {
  font-family: "Kantumruy Pro", sans-serif;
}

table {
  font-family: "Kantumruy Pro", sans-serif;

  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  text-align: center;
}
